@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@theme {
  --color-dark-gray: #1f1f1f;
  --color-temple-red: #9d2235;
}

@layer base {
  body {
    font-family: 'Lato', sans-serif;
  }
}

@layer components {
  .list-temple-red li::marker {
    color: var(--color-temple-red);
  }

  .news-content ul {
    list-style-type: disc;
    margin-left: 1.5rem; /* Indent the list */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .news-content li {
    margin-bottom: 0.5rem;
    color: var(--color-dark-gray); /* Use a consistent dark color for list items */
  }

  .news-content li::marker {
    color: var(--color-temple-red); /* Make the bullet points temple red */
  }

  .news-content strong {
    color: var(--color-dark-gray); /* Ensure bold text within news content is dark */
  }

  .news-content a {
    color: var(--color-temple-red); /* Make links temple red */
    text-decoration: underline; /* Underline links */
    cursor: pointer; /* Indicate clickable */
  }

  .news-content a:hover {
    text-decoration: none; /* Remove underline on hover */
  }

  .shadow-retro-ad {
    box-shadow: 8px 8px 0px var(--color-dark-gray); /* Simple offset shadow */
  }

  .text-shadow-retro {
    text-shadow: 2px 2px 0px var(--color-dark-gray); /* Pixelated text shadow */
  }

  .shadow-retro-button {
    box-shadow: 4px 4px 0px var(--color-dark-gray); /* Button shadow */
  }

  .shadow-retro-game-card {
    box-shadow: 10px 10px 0px var(--color-temple-red), 20px 20px 0px var(--color-dark-gray);
  }

  .shadow-retro-game-card-hover {
    box-shadow: 5px 5px 0px var(--color-temple-red), 10px 10px 0px var(--color-dark-gray);
  }

  .text-shadow-retro-light {
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
  }

  .text-shadow-retro-dark {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  }
}